<!DOCTYPE html>
<html lang="en">
    <%- include('path/head'); %>
    <body>
    <%- include('modules/banner'); %>
    <%- include('modules/header'); %>
    <%- include('modules/backgr'); %>
    <%- include('modules/featured-products'); %>
    <%- include('modules/sale'); %>
    <%- include('modules/product-details'); %>
    <%- include('modules/about'); %>
    <%- include('modules/portfolio'); %>
    <%- include('modules/new'); %>
    <%- include('modules/sidebar'); %>
    <%- include('modules/footer'); %>
    <%- include('path/script'); %>
    </body>
</html>