<!DOCTYPE html>
<html lang="en">
    <%- include('path/head'); %>
    <body>
    <%- include('modules/banner'); %>
    <%- include('modules/header'); %>
    <%- include('modules/bgr-products'); %>
    <%- include('modules/detail'); %>
    <%- include('modules/info-product'); %>
    <%- include('modules/featured-pro'); %>
    <%- include('modules/footer'); %>
    <%- include('path/script'); %>
    </body>
</html>