<!DOCTYPE html>
<html lang="en">
    <%- include('path/head'); %>
    <body>
    <%- include('modules/banner'); %>
    <%- include('modules/header'); %>
    <%- include('modules/bgr-products'); %>
    <%- include('modules/productnew'); %>
    <%- include('modules/footer'); %>
    <%- include('path/script'); %>
    </body>
</html>